body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #2c4d69;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #2c4d69;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #2c4d69;
}

p {
    color: #2c4d69;
}

button {
    background-color: yellow;
    color: #2c4d69;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffd700;
}

/* Section Styles */
.blue-bg {
    background-color: lightblue;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
}

.section {
    text-align: center;
}

/* Subsection Styles */
.rounded-box {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.subsection {
    text-align: left;
}
